/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-Jan-2019, 13:23:26
    Author     : Andre Kelvin
*/

.hbox {
    -fx-background-color: #0066ff;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #0066ff;
}

.table-row-cell:focused {
    -fx-background-color: #0066ff;
}

.table-view:focused {
    -fx-border-color: #0066ff;
}

.button{
    -fx-background-color: #0066ff;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #0066ff;
    -fx-border-color: #0066ff;
}

.combo-box-popup .list-view .list-cell:filled:selected{
    -fx-background-color: #0066ff;
}

.jfx-date-picker{
    -jfx-default-color: #0066ff;
}

.jfx-text-field{
    -jfx-focus-color: #0066ff;
}