/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-Jan-2019, 15:04:35
    Author     : Andre Kelvin
*/

.button{
    -fx-background-color: #0066ff;
    -fx-text-fill: white;
}

.table-row-cell:focused {
    -fx-background-color: #0066ff;
}

.table-view:focused {
    -fx-border-color: #0066ff;
}

.button:hover{
    -fx-background-color: white;
    -fx-text-fill: #0066ff;
    -fx-border-color: #0066ff;
}

.combo-box-popup .list-cell:filled:hover {
    -fx-background-color: #0066ff;
}

.combo-box{
    -jfx-focus-color: #0066ff;
}

.list-view:focused .list-cell:focused {
    -fx-background-color: #0066ff;
}